USE [QLKS]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [varchar](10) NOT NULL,
	[TENBP] [nvarchar](50) NOT NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [int] IDENTITY(1,1) NOT NULL,
	[TENDV] [nvarchar](50) NOT NULL,
	[DONGIA] [money] NOT NULL,
	[MOTA] [nvarchar](500) NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDNTIENNGHI]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDNTIENNGHI](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYLAP] [date] NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[MANCC] [int] NOT NULL,
	[MANV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDNTIENNGHICT]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDNTIENNGHICT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHD] [int] NOT NULL,
	[MATN] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDTHANHTOAN]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDTHANHTOAN](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYTHUE] [date] NOT NULL,
	[NGAYTT] [date] NOT NULL,
	[TONGTIEN] [money] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[MAKH] [int] NULL,
	[MANV] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDTT_DICHVU]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDTT_DICHVU](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHDTT] [int] NOT NULL,
	[MADV] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HDTT_PHONG]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HDTT_PHONG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MAHDTT] [int] NOT NULL,
	[SOPHONG] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](50) NOT NULL,
	[CMND] [varchar](20) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[GIOITINH] [bit] NOT NULL,
	[DIACHI] [nvarchar](50) NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALP] [varchar](10) NOT NULL,
	[TENLP] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](500) NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAXACNHAN]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAXACNHAN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CODE] [varchar](10) NOT NULL,
	[MANV] [varchar](10) NOT NULL,
	[CREATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NCC_SDT]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NCC_SDT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [int] NOT NULL,
	[SDT] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [varchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
	[NGAYSINH] [date] NULL,
	[GIOITINH] [bit] NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[SDT] [varchar](20) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[ANH] [varchar](50) NULL,
	[MABP] [varchar](10) NOT NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[SOPHONG] [varchar](10) NOT NULL,
	[SUCCHUA] [int] NOT NULL,
	[DONGIA] [money] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[MALP] [varchar](10) NOT NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SOPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG_TIENNGHI]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG_TIENNGHI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SOPHONG] [varchar](10) NOT NULL,
	[MATN] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIENNGHI]    Script Date: 3/30/2021 8:23:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENNGHI](
	[MATN] [int] IDENTITY(1,1) NOT NULL,
	[TENTN] [nvarchar](50) NOT NULL,
	[ISACTIVE] [bit] NULL,
	[CREATEAT] [datetime] NULL,
	[UPDATEAT] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MATN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'KT', N'Kế Toán', 1, CAST(N'2021-03-30T02:42:12.770' AS DateTime), CAST(N'2021-03-30T02:42:12.770' AS DateTime))
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'LT', N'Lễ Tân', 1, CAST(N'2021-03-30T02:42:12.770' AS DateTime), CAST(N'2021-03-30T02:42:12.770' AS DateTime))
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'PB', N'Phòng Ban', 1, CAST(N'2021-03-30T02:42:12.770' AS DateTime), CAST(N'2021-03-30T02:42:12.770' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[DICHVU] ON 

INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [MOTA], [TRANGTHAI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (0, N'Make-up room service', 200000.0000, N'Make-up room service là dịch vụ làm phòng. Trong dịch vụ này, người làm phòng sẽ thay drap giường, khăn tắm và các đồ dùng trong phòng ngủ.', 1, 1, CAST(N'2021-03-30T02:42:12.913' AS DateTime), CAST(N'2021-03-30T02:42:12.913' AS DateTime))
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [MOTA], [TRANGTHAI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (1, N'Turndown service', 50000.0000, N'Là dịch vụ chỉnh trang phòng buổi tối. Người làm phòng sẽ trải thẳng lại drap giường, gấp nếp giường, đặt cành hoa hoặc thiệp chúc ngủ ngon lên giường..', 1, 1, CAST(N'2021-03-30T02:42:12.913' AS DateTime), CAST(N'2021-03-30T02:42:12.913' AS DateTime))
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [DONGIA], [MOTA], [TRANGTHAI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (2, N'Laundry service', 200000.0000, N'Laundry service là dịch vụ giặt ủi trong khách sạn.', 1, 1, CAST(N'2021-03-30T02:42:12.917' AS DateTime), CAST(N'2021-03-30T02:42:12.917' AS DateTime))
SET IDENTITY_INSERT [dbo].[DICHVU] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [SDT], [GIOITINH], [DIACHI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (0, N'Khách hàng 1', N'122122121', N'0987654001', 1, N'Hà Nội', 1, CAST(N'2021-03-30T02:42:12.957' AS DateTime), CAST(N'2021-03-30T02:42:12.957' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [SDT], [GIOITINH], [DIACHI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (1, N'Khách hàng 2', N'122122122', N'0987654002', 0, N'TP Hồ Chí Minh', 1, CAST(N'2021-03-30T02:42:12.957' AS DateTime), CAST(N'2021-03-30T02:42:12.957' AS DateTime))
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [CMND], [SDT], [GIOITINH], [DIACHI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (2, N'Khách hàng 3', N'122122123', N'0987654003', 1, N'Đà Nẵng', 1, CAST(N'2021-03-30T02:42:12.957' AS DateTime), CAST(N'2021-03-30T02:42:12.957' AS DateTime))
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [MOTA], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'DLX', N'Deluxe', N'Phòng deluxe thường ở tầng trên cao với view đẹp (hướng ra núi, biển… ). Diện tích của loại phòng này rộng rãi hơn superior và được đầu tư trang thiết bị cao cấp như tivi, tủ lạnh, bồn rửa mặt cao cấp… Đương nhiên, mức giá niêm yết dành cho phòng deluxe sẽ cao hơn superior.', 1, CAST(N'2021-03-30T02:42:12.613' AS DateTime), CAST(N'2021-03-30T02:42:12.613' AS DateTime))
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [MOTA], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'STD', N'Standard', N'Phòng standard (viết tắt là STD) là loại phòng tiêu chuẩn, đơn giản nhất trong các khách sạn hiện nay. Đây là loại phòng có diện tích nhỏ, thường được đặt ở tầng thấp nhất và không có view hoặc view không được đẹp. Trang thiết bị của phòng standard cũng được khách sạn giảm tối thiểu. Chính vì vậy, giá phòng standard nằm ở mức thấp nhất trong các loại phòng khách sạn.', 1, CAST(N'2021-03-30T02:42:12.613' AS DateTime), CAST(N'2021-03-30T02:42:12.613' AS DateTime))
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [MOTA], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'SUP', N'Superior', N'Phòng superior cao cấp hơn phòng standard với diện tích lớn hơn (từ 20m2 trở lên) bao gồm 1-2 giường, tầm nhìn view cũng đẹp hơn. Trang thiết bị của phòng được khách sạn đầu tư hiện đại. Vì chất lượng tốt hơn nên mức giá cho phòng superior cũng sẽ cao hơn phòng standard.', 1, CAST(N'2021-03-30T02:42:12.613' AS DateTime), CAST(N'2021-03-30T02:42:12.613' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MAXACNHAN] ON 

INSERT [dbo].[MAXACNHAN] ([ID], [CODE], [MANV], [CREATEAT]) VALUES (1, N'70870232', N'PH01', CAST(N'2021-03-30T02:52:53.530' AS DateTime))
INSERT [dbo].[MAXACNHAN] ([ID], [CODE], [MANV], [CREATEAT]) VALUES (2, N'29132556', N'PH01', CAST(N'2021-03-30T03:08:52.303' AS DateTime))
INSERT [dbo].[MAXACNHAN] ([ID], [CODE], [MANV], [CREATEAT]) VALUES (3, N'13603642', N'PH01', CAST(N'2021-03-30T03:10:48.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[MAXACNHAN] OFF
GO
SET IDENTITY_INSERT [dbo].[NCC_SDT] ON 

INSERT [dbo].[NCC_SDT] ([ID], [MANCC], [SDT]) VALUES (0, 1, N'0999888111')
INSERT [dbo].[NCC_SDT] ([ID], [MANCC], [SDT]) VALUES (1, 1, N'0999888112')
INSERT [dbo].[NCC_SDT] ([ID], [MANCC], [SDT]) VALUES (2, 2, N'0999888113')
SET IDENTITY_INSERT [dbo].[NCC_SDT] OFF
GO
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] ON 

INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (0, N'NCC01', N'Hà Nội', 1, CAST(N'2021-03-30T02:42:12.993' AS DateTime), CAST(N'2021-03-30T02:42:12.993' AS DateTime))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (1, N'NCC02', N'Bắc Ninh', 1, CAST(N'2021-03-30T02:42:12.993' AS DateTime), CAST(N'2021-03-30T02:42:12.993' AS DateTime))
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (2, N'NCC03', N'Lạng Sơn', 1, CAST(N'2021-03-30T02:42:12.993' AS DateTime), CAST(N'2021-03-30T02:42:12.993' AS DateTime))
SET IDENTITY_INSERT [dbo].[NHACUNGCAP] OFF
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [PASSWORD], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [ANH], [MABP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'PH01', N'Nguyễn Nhật Hùng', N'57183498', CAST(N'1998-03-05' AS Date), 1, N'Hà Nội', N'0984111111', N'hungnnph09719@fpt.edu.vn', N'AVATAR_DEFAULT', N'QL', 1, CAST(N'2021-03-30T02:52:20.403' AS DateTime), CAST(N'2021-03-30T03:25:02.020' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [PASSWORD], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [ANH], [MABP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'PH02', N'Hứa Mạnh Hùng', N'hunghm', CAST(N'2000-03-05' AS Date), 1, N'Hà Nội', N'0984111112', N'hunghmph09808@fpt.edu.vn', N'AVATAR_DEFAULT', N'KT', 1, CAST(N'2021-03-30T02:52:20.403' AS DateTime), CAST(N'2021-03-30T02:52:20.403' AS DateTime))
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [PASSWORD], [NGAYSINH], [GIOITINH], [DIACHI], [SDT], [EMAIL], [ANH], [MABP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'PH03', N'Nguyễn Hữu Quyết', N'quyetnh', CAST(N'2001-03-05' AS Date), 1, N'Hà Nội', N'0984111113', N'quyetnhph12037@fpt.edu.vn', N'AVATAR_DEFAULT', N'LT', 1, CAST(N'2021-03-30T02:52:20.403' AS DateTime), CAST(N'2021-03-30T02:52:20.403' AS DateTime))
GO
INSERT [dbo].[PHONG] ([SOPHONG], [SUCCHUA], [DONGIA], [TRANGTHAI], [MALP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'101', 4, 200000.0000, 1, N'STD', 1, CAST(N'2021-03-30T02:42:12.690' AS DateTime), CAST(N'2021-03-30T02:42:12.690' AS DateTime))
INSERT [dbo].[PHONG] ([SOPHONG], [SUCCHUA], [DONGIA], [TRANGTHAI], [MALP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'102', 4, 200000.0000, 1, N'STD', 1, CAST(N'2021-03-30T02:42:12.690' AS DateTime), CAST(N'2021-03-30T02:42:12.690' AS DateTime))
INSERT [dbo].[PHONG] ([SOPHONG], [SUCCHUA], [DONGIA], [TRANGTHAI], [MALP], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (N'103', 2, 200000.0000, 1, N'STD', 1, CAST(N'2021-03-30T02:42:12.690' AS DateTime), CAST(N'2021-03-30T02:42:12.690' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[PHONG_TIENNGHI] ON 

INSERT [dbo].[PHONG_TIENNGHI] ([ID], [SOPHONG], [MATN], [SOLUONG], [TINHTRANG]) VALUES (0, N'101', 1, 1, N'Normal')
INSERT [dbo].[PHONG_TIENNGHI] ([ID], [SOPHONG], [MATN], [SOLUONG], [TINHTRANG]) VALUES (1, N'101', 2, 1, N'Normal')
INSERT [dbo].[PHONG_TIENNGHI] ([ID], [SOPHONG], [MATN], [SOLUONG], [TINHTRANG]) VALUES (2, N'101', 3, 1, N'Normal')
SET IDENTITY_INSERT [dbo].[PHONG_TIENNGHI] OFF
GO
SET IDENTITY_INSERT [dbo].[TIENNGHI] ON 

INSERT [dbo].[TIENNGHI] ([MATN], [TENTN], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (0, N'Tivi', 1, CAST(N'2021-03-30T02:42:13.097' AS DateTime), CAST(N'2021-03-30T02:42:13.097' AS DateTime))
INSERT [dbo].[TIENNGHI] ([MATN], [TENTN], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (1, N'Tủ lạnh', 1, CAST(N'2021-03-30T02:42:13.097' AS DateTime), CAST(N'2021-03-30T02:42:13.097' AS DateTime))
INSERT [dbo].[TIENNGHI] ([MATN], [TENTN], [ISACTIVE], [CREATEAT], [UPDATEAT]) VALUES (2, N'Điều hòa', 1, CAST(N'2021-03-30T02:42:13.097' AS DateTime), CAST(N'2021-03-30T02:42:13.097' AS DateTime))
SET IDENTITY_INSERT [dbo].[TIENNGHI] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__BOPHAN__A58D67418E0FAB73]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[BOPHAN] ADD UNIQUE NONCLUSTERED 
(
	[TENBP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__CA1930A5C9932F67]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACHHAN__F67C8D0B27BD3F84]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LOAIPHON__A58D30891F0172FD]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[LOAIPHONG] ADD UNIQUE NONCLUSTERED 
(
	[TENLP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NCC_SDT__CA1930A5AC30576A]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[NCC_SDT] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__161CF724F95FA8F0]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHANVIEN__CA1930A53D67E1F5]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TIENNGHI__A58DF1BD9EB7F733]    Script Date: 3/30/2021 8:23:39 PM ******/
ALTER TABLE [dbo].[TIENNGHI] ADD UNIQUE NONCLUSTERED 
(
	[TENTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BOPHAN] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[BOPHAN] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[BOPHAN] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[DICHVU] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[HDNTIENNGHI] ADD  DEFAULT (getdate()) FOR [NGAYLAP]
GO
ALTER TABLE [dbo].[HDTHANHTOAN] ADD  DEFAULT (getdate()) FOR [NGAYTT]
GO
ALTER TABLE [dbo].[HDTHANHTOAN] ADD  DEFAULT ((0)) FOR [TRANGTHAI]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[KHACHHANG] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[LOAIPHONG] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[MAXACNHAN] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[NHACUNGCAP] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ('AVATAR_DEFAULT') FOR [ANH]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[NHANVIEN] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[PHONG] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[TIENNGHI] ADD  DEFAULT ((1)) FOR [ISACTIVE]
GO
ALTER TABLE [dbo].[TIENNGHI] ADD  DEFAULT (getdate()) FOR [CREATEAT]
GO
ALTER TABLE [dbo].[TIENNGHI] ADD  DEFAULT (getdate()) FOR [UPDATEAT]
GO
ALTER TABLE [dbo].[HDNTIENNGHI]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HDNTIENNGHI]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HDNTIENNGHICT]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HDNTIENNGHI] ([MAHD])
GO
ALTER TABLE [dbo].[HDNTIENNGHICT]  WITH CHECK ADD FOREIGN KEY([MATN])
REFERENCES [dbo].[TIENNGHI] ([MATN])
GO
ALTER TABLE [dbo].[HDTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HDTHANHTOAN]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HDTT_DICHVU]  WITH CHECK ADD FOREIGN KEY([MAHDTT])
REFERENCES [dbo].[HDTHANHTOAN] ([MAHD])
GO
ALTER TABLE [dbo].[HDTT_DICHVU]  WITH CHECK ADD FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[HDTT_PHONG]  WITH CHECK ADD FOREIGN KEY([MAHDTT])
REFERENCES [dbo].[HDTHANHTOAN] ([MAHD])
GO
ALTER TABLE [dbo].[HDTT_PHONG]  WITH CHECK ADD FOREIGN KEY([SOPHONG])
REFERENCES [dbo].[PHONG] ([SOPHONG])
GO
ALTER TABLE [dbo].[MAXACNHAN]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NCC_SDT]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD FOREIGN KEY([MALP])
REFERENCES [dbo].[LOAIPHONG] ([MALP])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHONG_TIENNGHI]  WITH CHECK ADD FOREIGN KEY([SOPHONG])
REFERENCES [dbo].[PHONG] ([SOPHONG])
GO
ALTER TABLE [dbo].[PHONG_TIENNGHI]  WITH CHECK ADD FOREIGN KEY([MATN])
REFERENCES [dbo].[TIENNGHI] ([MATN])
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD CHECK  (([DONGIA]>=(0)))
GO
ALTER TABLE [dbo].[HDNTIENNGHICT]  WITH CHECK ADD CHECK  (([DONGIA]>(0)))
GO
ALTER TABLE [dbo].[HDTHANHTOAN]  WITH CHECK ADD CHECK  (([TONGTIEN]>(0)))
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD CHECK  (((datepart(year,getdate())-datepart(year,[NGAYSINH]))>=(18) AND (datepart(year,getdate())-datepart(year,[NGAYSINH]))<=(65)))
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD CHECK  (([SUCCHUA]>(0)))
GO
